# Lesson 7 - Pandas

In this lesson we will get to know the **Pandas** library. We start with the basics—importing the library and creating simple Series and DataFrames—and move to more advanced topics like merging, pivot tables, multi-indexing, and time series analysis.

## 1 Getting Started with Pandas

This chapter introduces the basics of Pandas. We'll learn how to import the library, create a Series, build a DataFrame from a dictionary, and read data from a CSV file—all using interesting, real-world inspired datasets.

### 1.1 Importing Pandas and Checking the Version

Before using Pandas, we need to import it. We also check the version to ensure it's correctly installed. This simple step confirms that your Python environment is set up for data analysis.

In [1]:
import pandas as pd
print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

### 1.2 Creating a Pandas Series

A Pandas Series is a one-dimensional labeled array capable of holding any data type. In this example, we create a Series from a Python list. This is one of the most fundamental data structures in Pandas.

In [2]:
# Creating a Pandas Series for daily temperatures in °C
temperatures = [20, 21, 22, 22, 20, 23, 24]  # Temperatures in Celsius
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
temp_series = pd.Series(temperatures, index=days)
print("Daily Temperatures (°C):")
print(temp_series)

Daily Temperatures (°C):
Mon    20
Tue    21
Wed    22
Thu    22
Fri    20
Sat    23
Sun    24
dtype: int64

### 1.3 Creating a DataFrame from a Dictionary

A DataFrame is a two-dimensional data structure that resembles a table (like a spreadsheet or SQL table). In this example, we construct a DataFrame using a Python dictionary, where keys become column names and the values become the corresponding column data.

In [3]:
# Creating a DataFrame from a dictionary with product data
product_data = {
    'Product': ['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'],
    'Price': [1200, 800, 450, 150, 200],
    'Quantity': [10, 20, 15, 50, 30],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics']
}
df_products = pd.DataFrame(product_data)
print("Product Inventory DataFrame:")
print(df_products)

Product Inventory DataFrame:
      Product  Price  Quantity     Category
0      Laptop   1200        10  Electronics
1  Smartphone    800        20  Electronics
2      Tablet    450        15  Electronics
3  Headphones    150        50  Accessories
4  Smartwatch    200        30  Electronics

### 1.4 Reading Data from a CSV File

Often, your data will be stored in external files such as CSV files. Pandas makes it easy to read these files into a DataFrame. Make sure your CSV file (e.g., `data.csv`) is in the same directory as your notebook.

In [4]:
# Uncomment the following lines if you have a CSV file named "data.csv"
df_csv = pd.read_csv("data.csv")
print("DataFrame created from a CSV file:")
print(df_csv)

DataFrame created from a CSV file:
     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

## 2 Data Manipulation and Analysis (Intermediate)

In this chapter, we explore data manipulation techniques using a dataset of employee information. We will inspect the data, perform filtering and selection, use indexing methods, sort the data, add/drop columns, and finally, group and aggregate the data for summarization.

### 2.1 Viewing and Inspecting Data

After loading data, it’s important to inspect it. Methods like `.head()`, `.info()`, and `.describe()` help you quickly understand the structure, data types, and summary statistics of your DataFrame.

In [5]:
print("First 5 rows of the DataFrame:")
print(df_csv.head())

print("\nDataFrame Information:")
print(df_csv.info())

print("\nSummary Statistics:")
print(df_csv.describe())

First 5 rows of the DataFrame:
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

Summary Statistics:
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

### 2.2 Selecting and Filtering Data

Data selection and filtering allow you to focus on subsets of your data that meet certain criteria. In this example, we:
- Select a single column.
- Filter rows based on a condition (e.g., employees with a salary above \$55,000).

In [6]:
# Creating a DataFrame with employee data
employee_data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Age': [28, 34, 29, 42, 30, 36],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 60000, 55000, 70000, 52000, 58000]
}
df_employees = pd.DataFrame(employee_data)

# Selecting the 'Employee' column
employee_names = df_employees['Employee']
print("Employee Names:")
print(employee_names)

# Filtering rows where Salary > 55000
high_salary = df_employees[df_employees['Salary'] > 55000]
print("\nEmployees with Salary > 55000:")
print(high_salary)

Employee Names:
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
5      Frank
Name: Employee, dtype: object

Employees with Salary > 55000:
  Employee  Age Department  Salary
1      Bob   34         IT   60000
3    David   42         IT   70000
5    Frank   36    Finance   58000

### 2.3 Using loc and iloc for Indexing

Pandas provides two main indexing methods: `loc` for label-based indexing and `iloc` for integer-based indexing. These methods allow precise selection of rows and columns.

In [7]:
# Using loc: Retrieve the department of the second employee (index 1)
dept_second_employee = df_employees.loc[1, 'Department']
print("Department of the second employee (using loc):", dept_second_employee)

# Using iloc: Retrieve the age of the third employee (position 2)
age_third_employee = df_employees.iloc[2, 1]
print("Age of the third employee (using iloc):", age_third_employee)

Department of the second employee (using loc): IT
Age of the third employee (using iloc): 29

### 2.4 Sorting DataFrames

Sorting data is key to data analysis. Here, we sort the DataFrame by `Age` (ascending order) and then by `Department` and `Salary` (with Salary in descending order) to demonstrate how you can organize your data for better readability.

In [8]:
# Sorting by Age (ascending)
sorted_by_age = df_employees.sort_values(by='Age')
print("Employees sorted by Age:")
print(sorted_by_age)

# Sorting by Department and then by Salary (with Salary in descending order)
sorted_by_dept_salary = df_employees.sort_values(by=['Department', 'Salary'], ascending=[True, False])
print("\nEmployees sorted by Department and Salary (Salary descending):")
print(sorted_by_dept_salary)

Employees sorted by Age:
  Employee  Age Department  Salary
0    Alice   28         HR   50000
2  Charlie   29    Finance   55000
4      Eva   30         HR   52000
1      Bob   34         IT   60000
5    Frank   36    Finance   58000
3    David   42         IT   70000

Employees sorted by Department and Salary (Salary descending):
  Employee  Age Department  Salary
5    Frank   36    Finance   58000
2  Charlie   29    Finance   55000
4      Eva   30         HR   52000
0    Alice   28         HR   50000
3    David   42         IT   70000
1      Bob   34         IT   60000

### 2.5 Adding and Dropping Columns

DataFrames are mutable, meaning you can easily add or remove columns as needed. In this example, we add a new column called `Bonus` and later drop it from the DataFrame.

In [9]:
# Adding a new column 'Bonus'
df_employees['Bonus'] = [5000, 7000, 6000, 8000, 5500, 6500]
print("DataFrame after adding Bonus column:")
print(df_employees)

# Dropping the 'Bonus' column
# The parameter inplace=True modifies the DataFrame in place
# If inplace=False, the drop operation will return a new DataFrame
df_employees.drop('Bonus', axis=1, inplace=True)
print("\nDataFrame after dropping Bonus column:")
print(df_employees)

DataFrame after adding Bonus column:
  Employee  Age Department  Salary  Bonus
0    Alice   28         HR   50000   5000
1      Bob   34         IT   60000   7000
2  Charlie   29    Finance   55000   6000
3    David   42         IT   70000   8000
4      Eva   30         HR   52000   5500
5    Frank   36    Finance   58000   6500

DataFrame after dropping Bonus column:
  Employee  Age Department  Salary
0    Alice   28         HR   50000
1      Bob   34         IT   60000
2  Charlie   29    Finance   55000
3    David   42         IT   70000
4      Eva   30         HR   52000
5    Frank   36    Finance   58000

### 2.6 Grouping and Aggregating Data

Grouping data allows you to perform aggregate operations on subsets of data. In this example, we group the data by `City` and compute the mean of the `Age` column for each group. This is a powerful way to summarize data.

In [10]:
# Grouping by 'Department' and calculating the mean Salary and Age
grouped_employees = df_employees.groupby('Department').agg({'Salary': 'mean', 'Age': 'mean'})
print("Grouped Employee Data (mean Salary and Age by Department):")
print(grouped_employees)

Grouped Employee Data (mean Salary and Age by Department):
             Salary   Age
Department
Finance     56500.0  32.5
HR          51000.0  29.0
IT          65000.0  38.0

## 3 Advanced Topics (Advanced)

### 3.1 Merging and Joining DataFrames

In this example, we have two datasets:

1. **Employee Data:** Contains details about employees including a unique `EmployeeID`, `Name`, `Age`, and `DepartmentID`.
2. **Department Data:** Contains department details including `DepartmentID`, `DepartmentName`, and `Manager`.

The two DataFrames share a common key: `DepartmentID`. We'll merge these DataFrames using different join types:
- **Inner Join:** Only includes rows with matching `DepartmentID` in both DataFrames.
- **Left Join:** Keeps all employee records and adds department information where available.
- **Outer Join:** Combines all records from both DataFrames, showing all employees and departments even if there’s no match.

In [11]:
import pandas as pd

# Employee data with additional details
employee_data = {
    'EmployeeID': [101, 102, 103, 104, 105, 106],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Age': [25, 30, 35, 40, 28, 32],
    'DepartmentID': [1, 2, 1, 3, 2, 4]  # Note: DepartmentID 4 has no matching department record below
}
df_employee = pd.DataFrame(employee_data)
print("Employee Data:")
print(df_employee)

# Department data with additional departments
department_data = {
    'DepartmentID': [1, 2, 3, 5],  # Note: DepartmentID 5 does not match any employee
    'DepartmentName': ['HR', 'IT', 'Finance', 'Marketing'],
    'Manager': ['Anne', 'Brian', 'Catherine', 'Derek']
}
df_department = pd.DataFrame(department_data)
print("\nDepartment Data:")
print(df_department)

Employee Data:
   EmployeeID     Name  Age  DepartmentID
0         101    Alice   25             1
1         102      Bob   30             2
2         103  Charlie   35             1
3         104    David   40             3
4         105      Eva   28             2
5         106    Frank   32             4

Department Data:
   DepartmentID DepartmentName    Manager
0             1             HR       Anne
1             2             IT      Brian
2             3        Finance  Catherine
3             5      Marketing      Derek

#### 3.1.1 Inner Join

Only includes rows with matching `DepartmentID` in both DataFrames.

In [12]:
merged_inner = pd.merge(df_employee, df_department, on='DepartmentID', how='inner')
print("\nInner Merge Result (only matching DepartmentID):")
print(merged_inner)

Inner Merge Result (only matching DepartmentID):
   EmployeeID     Name  Age  DepartmentID DepartmentName    Manager
0         101    Alice   25             1             HR       Anne
1         102      Bob   30             2             IT      Brian
2         103  Charlie   35             1             HR       Anne
3         104    David   40             3        Finance  Catherine
4         105      Eva   28             2             IT      Brian

#### 3.1.2 Left Join

Keeps all employee records and adds department information where available.

In [13]:
merged_left = pd.merge(df_employee, df_department, on='DepartmentID', how='left')
print("\nLeft Merge Result (all employees, with department info if available):")
print(merged_left)

Left Merge Result (all employees, with department info if available):
   EmployeeID     Name  Age  DepartmentID DepartmentName    Manager
0         101    Alice   25             1             HR       Anne
1         102      Bob   30             2             IT      Brian
2         103  Charlie   35             1             HR       Anne
3         104    David   40             3        Finance  Catherine
4         105      Eva   28             2             IT      Brian
5         106    Frank   32             4            NaN        NaN

#### 3.1.3 Outer Join

Combines all records from both DataFrames, showing all employees and departments even if there’s no match.

In [14]:
merged_outer = pd.merge(df_employee, df_department, on='DepartmentID', how='outer')
print("\nOuter Merge Result (all records from both DataFrames):")
print(merged_outer)

Outer Merge Result (all records from both DataFrames):
   EmployeeID     Name   Age  DepartmentID DepartmentName    Manager
0       101.0    Alice  25.0             1             HR       Anne
1       103.0  Charlie  35.0             1             HR       Anne
2       102.0      Bob  30.0             2             IT      Brian
3       105.0      Eva  28.0             2             IT      Brian
4       104.0    David  40.0             3        Finance  Catherine
5       106.0    Frank  32.0             4            NaN        NaN
6         NaN      NaN   NaN             5      Marketing      Derek

### 3.2 Creating Pivot Tables

In this example, we create a dataset with 12 rows containing the following columns:
- **Date:** The date of the record.
- **Region:** The geographical region (e.g., East or West).
- **Category:** A categorical variable (e.g., A or B).
- **Sales:** Numeric sales figures.
- **Profit:** Numeric profit figures.

We then create two pivot tables:
1. **Total Sales by Date and Category (with Region as columns):** This pivot table groups the data by Date and Category, showing the total Sales for each Region.
2. **Average Profit by Region and Category:** This pivot table shows the average Profit for each combination of Region and Category.

These examples illustrate how pivot tables can be used to quickly summarize and analyze multidimensional data.

In [15]:
# Create a dataset for the pivot table
data_pivot = {
    'Date': ['2025-01-01'] * 4 + ['2025-01-02'] * 4 + ['2025-01-03'] * 4,
    'Region': ['East', 'East', 'West', 'West'] * 3,
    'Category': ['A', 'B', 'A', 'B'] * 3,
    'Sales': [100, 150, 200, 250, 110, 160, 210, 260, 120, 170, 220, 270],
    'Profit': [20, 30, 40, 50, 22, 32, 42, 52, 24, 34, 44, 54]
}
df_pivot = pd.DataFrame(data_pivot)
print("Original DataFrame:")
print(df_pivot)

Original DataFrame:
          Date Region Category  Sales  Profit
0   2025-01-01   East        A    100      20
1   2025-01-01   East        B    150      30
2   2025-01-01   West        A    200      40
3   2025-01-01   West        B    250      50
4   2025-01-02   East        A    110      22
5   2025-01-02   East        B    160      32
6   2025-01-02   West        A    210      42
7   2025-01-02   West        B    260      52
8   2025-01-03   East        A    120      24
9   2025-01-03   East        B    170      34
10  2025-01-03   West        A    220      44
11  2025-01-03   West        B    270      54

In [16]:
# Pivot Table 1: Total Sales by Date and Category, with Region as columns
pivot_table_sales = pd.pivot_table(
    df_pivot,
    values='Sales',
    index=['Date', 'Category'],
    columns='Region',
    aggfunc='sum'
)
print("\nPivot Table: Total Sales by Date and Category (columns = Region)")
print(pivot_table_sales)

Pivot Table: Total Sales by Date and Category (columns = Region)
Region               East  West
Date       Category
2025-01-01 A          100   200
           B          150   250
2025-01-02 A          110   210
           B          160   260
2025-01-03 A          120   220
           B          170   270

In [17]:
# Pivot Table 2: Average Profit by Region and Category
pivot_table_profit = pd.pivot_table(
    df_pivot,
    values='Profit',
    index='Region',
    columns='Category',
    aggfunc='mean'
)
print("\nPivot Table: Average Profit by Region and Category")
print(pivot_table_profit)

Pivot Table: Average Profit by Region and Category
Category     A     B
Region
East      22.0  32.0
West      42.0  52.0

### 3.3 Multi-Indexing

In this example, we create a dataset representing different stores in various regions and cities.  
- **Region:** The geographical region (e.g., North, South, East, West).  
- **City:** The city where the store is located.  
- **Store:** The name of the store.  
- **Sales:** The sales figures for each store.  
- **Employees:** The number of employees at the store.

We then set a multi-index on the DataFrame using the 'Region' and 'City' columns. This allows you to organize and access your data in a hierarchical structure.

In [18]:
# Enhanced dataset for multi-indexing
data_multi = {
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
    'City': ['New York', 'Boston', 'Atlanta', 'Miami', 'Philadelphia', 'Baltimore', 'Los Angeles', 'San Francisco'],
    'Store': ['Store A', 'Store B', 'Store C', 'Store D', 'Store E', 'Store F', 'Store G', 'Store H'],
    'Sales': [250, 300, 150, 400, 320, 210, 500, 450],
    'Employees': [10, 15, 8, 20, 12, 9, 18, 16]
}
df_multi = pd.DataFrame(data_multi)
print("Original DataFrame:")
print(df_multi)

# Setting a multi-index using 'Region' and 'City'
df_multi_indexed = df_multi.set_index(['Region', 'City'])
print("\nDataFrame with Multi-Index (Region, City):")
print(df_multi_indexed)

# Accessing data: Get all stores in the 'South' region
print("\nData for South region:")
print(df_multi_indexed.loc['South'])

Original DataFrame:
  Region           City    Store  Sales  Employees
0  North       New York  Store A    250         10
1  North         Boston  Store B    300         15
2  South        Atlanta  Store C    150          8
3  South          Miami  Store D    400         20
4   East   Philadelphia  Store E    320         12
5   East      Baltimore  Store F    210          9
6   West    Los Angeles  Store G    500         18
7   West  San Francisco  Store H    450         16

DataFrame with Multi-Index (Region, City):
                        Store  Sales  Employees
Region City
North  New York       Store A    250         10
       Boston         Store B    300         15
South  Atlanta        Store C    150          8
       Miami          Store D    400         20
East   Philadelphia   Store E    320         12
       Baltimore      Store F    210          9
West   Los Angeles    Store G    500         18
       San Francisco  Store H    450         16

Data for South region:
           Store  Sales  Employees
City
Atlanta  Store C    150          8
Miami    Store D    400         20

### 3.4 Working with Time Series Data

Here, we simulate a time series dataset representing daily store performance over 10 days.  
- **Date:** The date is used as the index.  
- **Sales:** Daily sales figures.  
- **Visitors:** The number of visitors each day.

We then demonstrate how to resample the data to different frequencies—for instance, calculating the average sales and visitors over a 3-day period.

In [19]:
# Creating a date range for 10 days
dates = pd.date_range(start='2025-01-01', periods=10, freq='D')

# Simulated time series data for daily sales and visitors
data_time = {
    'Sales': [200, 220, 250, 270, 300, 310, 290, 280, 260, 300],
    'Visitors': [50, 55, 60, 65, 70, 75, 72, 68, 66, 74]
}
df_time = pd.DataFrame(data_time, index=dates)
print("Time Series DataFrame:")
print(df_time)

# Resample the time series data: Compute the mean every 3 days
df_resampled = df_time.resample('3D').mean()
print("\nResampled Time Series DataFrame (3-day average):")
print(df_resampled)

Time Series DataFrame:
            Sales  Visitors
2025-01-01    200        50
2025-01-02    220        55
2025-01-03    250        60
2025-01-04    270        65
2025-01-05    300        70
2025-01-06    310        75
2025-01-07    290        72
2025-01-08    280        68
2025-01-09    260        66
2025-01-10    300        74

Resampled Time Series DataFrame (3-day average):
                 Sales   Visitors
2025-01-01  223.333333  55.000000
2025-01-04  293.333333  70.000000
2025-01-07  276.666667  68.666667
2025-01-10  300.000000  74.000000

### 3.5 Advanced Aggregation with Custom Functions

This example uses a dataset of store sales across various regions.  
- **Region:** The region where the store is located.  
- **Store:** The store identifier.  
- **Sales:** The sales figures.

We then group the data by 'Region' and apply a custom aggregation function that calculates the range (i.e., the difference between the maximum and minimum sales) within each group.

In [20]:
# Enhanced dataset for custom aggregation
data_custom = {
    'Region': ['North', 'North', 'North', 'South', 'South', 'South', 'East', 'East', 'East', 'West', 'West', 'West'],
    'Store': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L'],
    'Sales': [120, 300, 250, 230, 400, 350, 150, 320, 280, 210, 450, 390]
}
df_custom = pd.DataFrame(data_custom)
print("Custom Aggregation DataFrame:")
print(df_custom)

# Define a custom function to compute the range of sales
def range_func(x):
    return x.max() - x.min()

# Group by 'Region' and apply the custom aggregation function on 'Sales'
agg_custom = df_custom.groupby('Region').agg({'Sales': range_func})
print("\nCustom Aggregation (Sales range) grouped by Region:")
print(agg_custom)

Custom Aggregation DataFrame:
   Region Store  Sales
0   North     A    120
1   North     B    300
2   North     C    250
3   South     D    230
4   South     E    400
5   South     F    350
6    East     G    150
7    East     H    320
8    East     I    280
9    West     J    210
10   West     K    450
11   West     L    390

Custom Aggregation (Sales range) grouped by Region:
        Sales
Region
East      170
North     180
South     170
West      240